.container {
    font-size: large;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    flex-direction:column;
    gap:15vh;
    padding:15vw;
    max-width: 100%;
}


.h1 {
    font-weight: 1000;
}

/*
.upper-part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:40px;
    width: 100%;
    max-width: 100%;
}


.lower-part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:40px;
    width: 100%;
    max-width: 100%;
}

*/


.blocks-handler {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}


.first-two {
    display: flex;
    flex-direction: column;
    gap:5vh;
    
}
.second-two {
    display: flex;
    flex-direction: column;
    gap:5vh;
    
}
.third-two {
    display: flex;
    flex-direction: column;
    gap:5vh;
    
}



.title-text {
    display: flex;
    justify-content: center;
    color: #F2C12E;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
}


/*
each service
*/


.individual-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.frames {
    display: flex;
    width: 20vw;
    height: 600px;
    align-items: flex-end;
    justify-content: center;
}

.overlayGrid {
    display: grid;
    grid-template-areas: overlay;
}

.frameImg {
    position: absolute;
    
}
.insideImg {
    padding-left: 19px;
    padding-top:69px;
    object-fit: cover;
}


.top-text {
    color: #fff;
    width: 20vw;
    height: 10vh;
    display: flex;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;

    line-height: 45px; /* 150% */
}

@media (max-width: 1450px) {
    .container {
        display: flex;
        padding: 0;
    }
    .blocks-handler {
        display: flex;
        flex-direction: column;
        padding-right: 3vw;

    }
    .first-two {
        flex-direction: row;
        width: 70vw;
        gap:13vw;
    }
    .second-two {
        flex-direction: row;
        width: 70vw;
        gap:13vw;
    }
    .third-two {
        flex-direction: row;
        width: 70vw;
        gap:13vw;
    }

}
@media (max-width: 1050px) {
    .blocks-handler {
        align-items: center;
    }
    .first-two {
        width: 80vw;
        height: 1600px;
        flex-direction: column;
    }
    .second-two {
        width: 80vw;
        height: 1600px;
        flex-direction: column;
    }
    .third-two {
        width: 80vw;
        height: 1600px;
        flex-direction: column;
    }

    .individual-block {
        width: 100%;
        height:700px;
        display: flex;
    }
    .frames {
 
        width: 80vw;
        height: 800px;
        display: flex;
        
    }
    .frameImg {
        width: 80vw;
        height: 700px;
    }
    .insideImg {
        width: 64.5vw;
        height: 600px;
        padding-left: 23px;
        padding-top:76px;
    }
    
    .top-text {
        display: flex;
        width: 70vw;
        justify-content: center;
    }
}
@media (max-width: 500px) {
    .frameImg {
        width: 120vw;

    }
    .insideImg {
        width: 96vw;


    }
}