/* .tudo{
  width: 100%;
  background-color: white;
}


.toptext{
  display: flex;
  width: 1247px;
  height: 692px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.bottomtext{
  margin-top: 86px;
  margin-left: 1000px;
  height: 285px;
  width: 721px;
  text-align: center;
  align-items: center;
  display: flex;
  border-left: solid 15px #F2C12E;
  padding-left: 100px; 
  line-height: 50px;
}


.text-content{
  color: #ffff;
  font-size: 22px;
  font-weight: '400';
  display: flex;
}


.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}


.header {
  font-size: 3rem;
}


.subtitle {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}


.exemplo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 1200px;
  padding: 0;
}


.card{

  height: auto;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  margin-top: 10px;
}

.card p {
  margin-top: 10px;
}

.link, .link *{
  width: 100%;
  text-align: center;
  text-decoration: none !important;
  color: white;
  font-size: 1.5rem;
  transition: all .3s ease-in-out;
}


.link:hover{
  transform: scale(1.1);
} */