.toptext{ /* css da div superior */
  display: flex;
  width: 40%;
  height: 20rem;
  align-items: center;
  text-align: center;
  margin-left: 10rem;
  border-left: solid 1rem #F2C12E;
  padding-left: 4rem;  
  line-height: 3.5vh;
}

.container{ /* css do container geral da página*/
height: 54rem;
width: 100%;
display: flex;
flex-direction: column;
margin-top: 5%;
gap: 5%;
}

.textImage{ /* css da div que suporta a imagem e o texto inferior*/
  display: flex;
  justify-content: space-evenly;
  padding: 3rem;
  width: 100%;
    
}
.lampada{ /* css da  própria imagem*/
 position: relative;
 aspect-ratio: 1/1;
 overflow: hidden;
 display: block;
  margin-right: 15%;
  height: 100%;
  width: 300px;
  
}
.retangulo{  /* css do retangulo (visivel apenas no mobile)*/
  display: none;
}

.bottomtext{ /* css da div do texto inferior*/
  
  height: 20rem;  
  width: 40%;
  text-align: center;
  align-items: center;
  display: flex;
  border-left: solid 1rem #F2C12E;
  padding-left: 4rem; 
  line-height: 3.5vh;
}


.text-content{ /* formatação  de todos os textos*/
  color: #ffff;
  text-align: justify;
  
}







@media only screen and (max-width: 800px) { /* incio do breakpoint */
  .bottomtext {
    padding-left: 0px;
    margin-left: 0%;
    line-height: 150%;
    width: 70%;
    height: fit-content; 
    border: none;
  }
 
 
  .toptext{
    border: none;
    width: 70%;
    height: 15vh;  
    padding-left: 0px;
    margin-left: 0%;
    line-height: 150%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .lampada{
   width: 30vw;
   margin: auto;
   display: flex;
   margin-top: 5%;
   margin-bottom: 5%;
  }

  .textImage{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0%;   
  }

  .container{
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    gap: 2%;
    margin-top: 8vh;
    height: fit-content;
  }
  
  .text-content{
    text-align: justify;
    font-size: 3vw;
    height: 100%;      
  }

  .retangulo{
    width: 50vw;
    background-color: #F2C12E;
    height: 0.5rem;
    align-self: baseline;
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}  /* fim do breakpoint */