.toptext{
  display: flex;
  width: 40%;
  height: 20rem;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-left: 10rem;
  border-left: solid 1rem #F2C12E;
padding-left: 4rem;  
line-height: 3.5vh;

}
.container{
  
height: 54rem;
width: 100%;
display: flex;
flex-direction: column;
margin-top: 5%;
gap: 5%;
}

.textImage{
  display: flex;
  justify-content: space-evenly;
  padding: 3rem;
  width: 100%;
    
}
.lampada{
 position: relative;
 aspect-ratio: 1/1;
 overflow: hidden;
 display: block;
  margin-right: 15%;
  height: 100%;
  width: 300px;
  
}
.retangulo{
  display: none;
}

.bottomtext{
  
  height: 20rem;  
  width: 40%;
  text-align: center;
  align-items: center;
  display: flex;
  border-left: solid 1rem #F2C12E;
  padding-left: 4rem; 
  line-height: 3.5vh;
}


.textContent{
  color: #ffff;
  font-size: 1.5vw;
  width: 100%;
  height: auto;
}




.hiddenImage{
  width: 50%;
  height: 30rem;

}


@media only screen and (max-width: 800px) {
  .bottomtext {
    padding-left: 0px;
    margin-left: 0%;
    line-height: 150%;
    width: 70%;
    height: 15vh; 
    border: none;

  }
  .hiddenImage{
    display: none;
  }

 
  .toptext{
    
    border: none;
    width: 70%;
    height: 15vh;  
    padding-left: 0px;
    margin-left: 0%;
    line-height: 150%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  

  }
  

  
  .lampada{
   width: 30vw;
   margin: auto;
   display: flex;
   margin-top: 5%;
   margin-bottom: 5%;
  }
  .textImage{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0%;
    
  }
  .container{
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    gap: 2%;
    margin-top: 8vh;
    height: fit-content;

  }
  
  .text-content{
    text-align: center;
    font-size: 3vw;
    height: fit-content;
        
  }
  .retangulo{
    width: 50%;
    background-color: #F2C12E;
    height: 0.5rem;
    align-self: baseline;
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
    
  }
  
}  


