.container {
    font-size: large;
    display: flex;
    align-items: center;
    flex-direction:column;
    width: 100%;

}


.h1 {
    font-weight: 1000;
}

/*
.upper-part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:40px;
    width: 100%;
    max-width: 100%;
}


.lower-part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:40px;
    width: 100%;
    max-width: 100%;
}

*/


.blocks-handler {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    gap: 5vw;
    padding-bottom: 10vh;
}


.first-two {
    display: flex;
    flex-direction: column;
    gap:5vh;
    width: 100%;
    
    
}
.second-two {
    display: flex;
    flex-direction: column;
    gap:5vh;
    width: 100%;
    
}
.third-two {
    display: flex;
    flex-direction: column;
    gap:5vh;
    width: 100%;
    
}



.title-text {
    display: flex;
    justify-content: center;
    color: #F2C12E;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    padding-top: 50px;
    padding-bottom: 80px;
}


/*
each service
*/


.individual-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
}


.frames {
    display: flex;
    width: 70%;
    height: 600px;
    align-items: flex-end;
    justify-content: center;
}

.overlayGrid {
    display: grid;
    grid-template-areas: overlay;
    width: 100%;
    position: relative;
    height: 100%;
    align-content: center;
    align-items: end;
    align-content: space-between;
}



.arrow {
    justify-self: flex-start;
    z-index: 1;
    height: 100%;
    width: 115%;
}


.insideImg {
    width: 100%;
    height: 530px;
    position:absolute;
    object-fit: cover;
    border:14px solid #f2c12e99;
    z-index: 0;

}









.top-text {
    color: #fff;
    width: 20vw;
    height: 10vh;
    display: flex;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    padding-right: 3vw;

    line-height: 45px; /* 150% */
}

@media (max-width: 1520px) {
    .container {
        display: flex;
    }

    .title-text {
        width: 100%;
    }

    .blocks-handler {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 5vw;

    }
    .insideImg {
        width: 80%;
        border:18px solid #f2c12e99;
    }

    .individual-block {
        width: 100%;
    }
    .overlayGrid {
        width: 100%;
    }

    .frames {
        width: 100%;
        height: 630px;
    }
    .arrow {
        width: 80%;
        height: 550px;
    }
    .overlayGrid {
        height: 500;
    }
    .first-two {
        flex-direction: row;
        width: 90vw;
        gap:18vw;
    }
    .second-two {
        flex-direction: row;
        width: 90vw;
        gap:18vw;
    }
    .third-two {
        flex-direction: row;
        width: 90vw;
        gap:18vw;
    }

}
@media (max-width: 1000px) {



    .blocks-handler {
        align-items: center;
        gap : 15vh;
        padding-left: 13vw;
    }
    .first-two {
        width: 80vw;

        flex-direction: column;
        gap: 15vh;
    }
    .second-two {
        width: 80vw;

        flex-direction: column;
        gap: 15vh;
    }
    .third-two {
        width: 80vw;

        flex-direction: column;
        gap: 15vh;
    }


    .frames {
        width: 100%;
        height: 650px;
    }

    .title-text {
        padding-top: 7vh;
        padding-bottom: 7vh;
    }
    .top-text {
        display: flex;
        width: 80vw;
        justify-content: center;
        padding-right: 13vw;
        align-items: center;


        
    }



    .arrow {
        width: 70%;
        height: 590px;
    }
}
