.container {
  position: relative; /* Define o posicionamento relativo para o container */
  display: inline-block; /* Ou display: block, dependendo do layout desejado */
  width: 100%;
}


.initImg {
  height: 800px;
  object-fit: cover;
  max-width: 100%;
  filter: brightness(40%); 
 
}


.title {
  position: absolute; /* Define o posicionamento absoluto para o texto */
  top: 40%; /* Move o texto 50% para baixo em relação ao container */
  left: 5%; /* Move o texto 50% para a direita em relação ao container */
  font-size: 6vw;
  color: white; /* Define a cor do texto */
  padding: 10px; /* Adiciona algum espaço interno ao redor do texto */
  max-width: 10em; /* Defina a largura máxima desejada */
  word-wrap: break-word; /* Garante que as palavras se quebrem para a próxima linha */
}


@media (min-width: 1561px) {
  .initImg {
    max-height: 90%;

  }
  .title{
    font-size: 5vw;
  }
  
}


@media (min-width: 1024px) and (max-width: 1560px) {
  .initImg {
    max-height: 90%;

  }
  
}

@media (max-width: 1023px) {
  .initImg {
    min-height: 600px; /* Defina a altura mínima desejada */
  }
  .title{
    font-size: 8vw;
  }
}