
.postsGrid{
    display: grid;
    grid-template-columns: 30vw 30vw; /* Duas colunas por linha e colunas flexíveis *//* Duas colunas por linha e colunas flexíveis */
    padding:5vh 20vw ;
    grid-column-gap: 4rem; /* Espaço horizontal de 20 pixels */
    grid-row-gap: 10px; /* Espaço vertical de 10 pixels */
}





@media only screen  and (min-width: 1000px) and (max-width: 1200px)  {

   
    .postsGrid{
        
        grid-template-columns: 30vw 30vw; /* Duas colunas por linha e colunas flexíveis */
        
    }


}

@media only screen  and (min-width: 500px) and (max-width: 999px)  {

   
    .postsGrid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
        padding:5vh 10vw ;
    }


}

@media only screen  and (min-width: 400px) and (max-width: 500px) and (orientation: portrait) {

   
    .postsGrid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
        padding:5vh 10vw ;
    }


}
@media only screen  and (max-width: 400px)  and (orientation: portrait) {

   
    .postsGrid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr)); 
        padding:5vh 10vw ;
    }


}
