.footer {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 650px;
    /*background-color: #262626;*/
    flex-direction: column;
}


.top-part {
    display: flex;
    background-image:linear-gradient(#262626,transparent),url("../../../public/uploads/image/footer/backgroundLogos.png");
    justify-content: space-between;
    align-items:flex-start;
    flex-direction: row;
    height: 80%;
}


.relab-icon {
    width: 13vw;
    height: 13vh;
    flex-shrink: 0;
    justify-content: center;
    background-color: transparent;
    
    padding: 15vw 19vh;
    background-image: url("../../../public/uploads/image/footer/relabIconYellow.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor:pointer;
}


/*
.relabIconYellow {
    width: 135px;
    height: 135px;
    flex-shrink: 0;
    justify-content: center;
    cursor:alias;
    background-image: url("../../../public/uploads/image/footer/relabIconYellow.png");
    
    
}
*/

.contact-socials {
    display:flex;
    flex-direction: column;
    padding-right: 15vw;
}


.contact-text {
    font-weight: 350;
    padding-top:10vh;
    font-size: 30px;
    color: #F2C12E;
}


.social-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: alias;
    height: 5vh;
}


.linkedin-icon {
    height: 10vh;
    width: 33%;
    background-image: url("../../../public/uploads/image/footer/linkedinIcon.png");
    background-repeat: no-repeat;
    background-position: center;
}


.twitter-icon {
    height: 10vh;
    width: 33%;
    background-image: url("../../../public/uploads/image/footer/twitterIcon.png");
    background-repeat: no-repeat;
    background-position: center;
}


.instagram-icon {
    height: 10vh;
    width: 33%;
    background-image: url("../../../public/uploads/image/footer/instagramIcon.png");
    background-repeat: no-repeat;
    background-position: center;
}


/* css for the bottom part of the footer */

.bottom-part {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 20%;
    
}


.footer-text {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    gap:1vw;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.534);
}


.membership-icons {
    display:flex;
    align-self: center;
    gap:8vw;
}


.lab-icon {
    width: 11vw;
    background-image: url("../../../public/uploads/image/footer/labIcon.png");
    background-repeat: no-repeat;
    height: 5vh;
    background-position: center;
}


.jesuitas-icon {
    width: 15vw;
    background-image: url("../../../public/uploads/image/footer/jesuitasIcon.png");
    background-repeat: no-repeat;
    height: 5vh;
    background-position: center;
}


.unisinos-icon {
    width: 18vw;
    background-image: url("../../../public/uploads/image/footer/unisinosIcon.png");
    background-repeat: no-repeat;
    height: 5vh;
    background-position: center;
}

@media (max-width: 870px) {
    .bottom-part {
        display: flex;
        flex-direction: column;
    }
    .top-part {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
    }
    .relab-icon {
        width: 30vw;
        height: 30vh;
        padding: 0;
    }
    .contact-socials {
        padding: 0;
    }

    .unisinos-icon {
        width: 34vw;
        height: 15vh;
    }
    .jesuitas-icon {
        width: 34vw;
        height: 15vh;
    }
    .lab-icon {
        width: 34vw;
        height: 15vh;
    }
    .footer-text {
        font-size: small;
    }
}

@media (max-width: 450px) {
    .unisinos-icon {
        width: 60vw;
    }
    .jesuitas-icon {
        width: 60vw;
    }
    .lab-icon {
        width: 60vw;
    }
}
