.footer {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 300px;
    /*background-color: #262626;*/
    flex-direction: column;
    background-image:linear-gradient(transparent,#262626),url("../../../public/uploads/image/footer/backgroundLogos.png");
    gap:1vh;
}


.topPart {
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    height: 80%;
    align-items: center;
    gap:10vw;
}


.relabIcon {
    display: flex;
    width: 150px;
    background-color: transparent;
    height: 150px;


    border: none;
    cursor:pointer;
}




.contactSocials {
    display:flex;
    flex-direction: column;
    padding-right: 15vw;
    gap: 1vh;
    align-items: center;
}


.contactText {
    font-weight: 350;
    font-size: 30px;
    color: #F2C12E;
}


.social-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: alias;
    width: 70%;
}


.linkedinIcon {
    width: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-image: url("../../../public/uploads/image/footer/linkedinIcon.png");
    background-repeat: no-repeat;
    background-position: center;*/
}


.twitterIcon {
    width: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-image: url("../../../public/uploads/image/footer/twitterIcon.png");
    background-repeat: no-repeat;
    background-position: center;*/
}


.instagramIcon {
    width: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-image: url("../../../public/uploads/image/footer/instagramIcon.png");
    background-repeat: no-repeat;
    background-position: center;*/
}


/* css for the bottom part of the footer */

.bottom-part {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 20%;
    padding-right: 8vw;
    align-items: center;
}


.footerText {
    display: flex;
    flex-direction: column;
    font-size: 1vw;
    gap:0.5vw;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.534);
    justify-content: flex-end;
}


.membership-icons {
    display:flex;
    align-self: flex-start;
    gap:2vw;
    padding-left: 2vw;
}




@media (max-width: 870px) {

    .topPart {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        height: 80%;
        gap:0;

    }
    .contactText {
        padding-top: 2vh;
        font-size:larger;
    }
    .relabIcon {
        width: 12vw;
        height: 12vh;
        display: flex;
        padding: 0;
    }
    .logoImg {
        width: 12vw;
        height: 12vh;
    }
    .insideImg {
        width: 40px;
        height: 40px;
    }
    .contactSocials {
        padding: 0;
    }
    .bottom-part {
        display:flex;
        padding-right: 0;
        flex-direction: column;
        align-items: center;
        height: 20%;
    }
    .membership-icons {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .watermarkImg {
        width: 120px;
        height: 40px;
    }
}

@media (max-width: 650px) {
    .relabIcon {
        width: 120px;
        height: 120px;
    }
    .logoImg {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 650px) {
    .contactText {
        font-size: small;
    }
    .insideImg {
        width: 25px;
        height: 25px;
    }
    .watermarkImg {
        width: 50px;
    }
}

@media (max-width: 650px) {
    .watermarkImg {
        width: 50px;
        height: 30px;
    }
    .footerText {
        font-size: 3vw;
    }
    .relabIcon {
        padding-left: +2vw;
    }
    .topPart {
        padding-top: 1vh;
    }

    .insideImg {
        width: 35px;
        height: 35px;
    }

    .social-icons {
        gap:+5vw;
    }

}
