.footer {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 300px;
    /*background-color: #262626;*/
    flex-direction: column;
    background-image:linear-gradient(transparent,#262626),url("../../../public/uploads/image/footer/backgroundLogos.png");
    gap:1vh;
}


.top-part {
    display: flex;
    
    justify-content: space-between;
    align-items:flex-start;
    flex-direction: row;
    height: 80%;
}


.relab-icon {
    width: 350px;
    justify-content: center;
    background-color: transparent;
    height: auto;
    padding: 6vw 13vh;
    /*background-image: url("../../../public/uploads/image/footer/relabIconYellow.png");
    background-repeat: no-repeat;
    background-position: center;*/
    border: none;
    cursor:pointer;
}


/*
.relabIconYellow {
    width: 135px;
    height: 135px;
    flex-shrink: 0;
    justify-content: center;
    cursor:alias;
    background-image: url("../../../public/uploads/image/footer/relabIconYellow.png");
    
    
}
*/

.contact-socials {
    display:flex;
    flex-direction: column;
    padding-right: 15vw;
}


.contact-text {
    font-weight: 350;
    padding-top:10vh;
    font-size: 30px;
    color: #F2C12E;
}


.social-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: alias;
    height: 7vh;
}


.linkedin-icon {
    width: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-image: url("../../../public/uploads/image/footer/linkedinIcon.png");
    background-repeat: no-repeat;
    background-position: center;*/
}


.twitter-icon {
    width: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-image: url("../../../public/uploads/image/footer/twitterIcon.png");
    background-repeat: no-repeat;
    background-position: center;*/
}


.instagram-icon {
    width: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-image: url("../../../public/uploads/image/footer/instagramIcon.png");
    background-repeat: no-repeat;
    background-position: center;*/
}


/* css for the bottom part of the footer */

.bottom-part {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 20%;
    
}


.footer-text {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    gap:0.5vw;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.534);
    justify-content: flex-end;
}


.membership-icons {
    display:flex;
    align-self: flex-start;
    gap:5vw;
    padding-left: 2vw;
}


.lab-icon {
    width: 8vw;
    /*background-image: url("../../../public/uploads/image/footer/labIcon.png");
    background-repeat: no-repeat;
    height: 5vh;
    background-position: center;*/
    justify-content: flex-end;
}


.jesuitas-icon {
    width: 13vw;
    /*background-image: url("../../../public/uploads/image/footer/jesuitasIcon.png");
    background-repeat: no-repeat;
    height: 5vh;
    background-position: center;*/
}


.unisinos-icon {
    width: 13vw;
    /*background-image: url("../../../public/uploads/image/footer/unisinosIcon.png");
    background-repeat: no-repeat;
    height: 5vh;
    background-position: center;*/
}

@media (max-width: 870px) {
    .bottom-part {
        display: flex;
        flex-direction: column;
    }
    .top-part {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
    }
    .contact-text {
        padding-top: 2vh;
        font-size:larger;
    }
    .relab-icon {
        width: 15vw;
        height: auto;
        display: flex;
        padding: 0;
    }
    .instagram-icon {
        width: 5vw;
    }
    .twitter-icon {
        width: 5vw;
    }
    .linkedin-icon {
        width: 5vw;
    }
    .contact-socials {
        padding: 0;
    }

    .membership-icons {
        padding-left: 0;
        display: flex;
        width: 100vw;
    }
    .unisinos-icon {
        width: 20vw;
        height: 5vh;
        display: flex;
        align-items: center;
    }
    .jesuitas-icon {
        width: 20vw;
        height: 5vh;
        display: flex;
        align-items: center;
    }
    .lab-icon {
        width: 13vw;
        height: 5vh;
        display: flex;
        align-items: center;
    }
    .footer-text {
        font-size: small;
    }
}

@media (max-width: 450px) {
    .relab-icon {
        width: 20vw;
    }
    .instagram-icon {
        width: 8vw;
    }
    .twitter-icon {
        width: 8vw;
    }
    .linkedin-icon {
        width: 8vw;
    }
    .unisinos-icon {
        width: 30vw;
    }
    .jesuitas-icon {
        width: 30vw;
    }
    .lab-icon {
        width: 22vw;
    }
}
