.valores{
    height: 70%;
    padding-bottom: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
    width: 100%; /* Defina a largura desejada para o contêiner */
    margin: 0 auto; /* Centraliza o contêiner horizontalmente */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    text-align: center; /* Alinha o texto horizontalmente no centro */
    
}


.topLeft {
    grid-area: tl;
    grid-column: 1;
    grid-row: 1;
    

}

.topRight {
    grid-area: tr;
    grid-column: 2;
    grid-row: 1;
    

}

.middle {
    grid-area: m;
    grid-column: 1 / span 2; /* Ocupa da coluna 1 até a coluna 2 */
    grid-row: 2; /* Está na segunda linha */
   

}

.bottomLeft {
    grid-area: bl;
    grid-column: 1;
    grid-row: 3;
   

}

.bottomRight {
    grid-area: br;
    grid-column: 2;
    grid-row: 3;
    

}

.titleValores{
  
    color: #F2C12E;
    align-content: center;
    justify-content: center;
    font-weight: 600;
    padding: 1em;
}
.textValores{
    width: 20em;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.titleGrande{
    width: 40vw;
    height: 10%;
    height: 10%;
    border: #F2C12E;
    background-color: #F2C12E;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-weight: 800;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}


@media screen and (max-width: 767px) {
    .valores {
        grid-template-columns: 1fr; /* Uma única coluna */
        grid-template-rows: auto auto auto auto auto ;
        
    }
    .middle{
        grid-row: 1;
    }
    .topLeft{
        grid-row: 2;
        grid-column: 1 / span 2; /* Ocupa da coluna 1 até a coluna 2 */
    }
    .topRight{
        grid-row: 3;
        grid-column: 1 / span 2; /* Ocupa da coluna 1 até a coluna 2 */
    }
    .bottomLeft{
        grid-row: 4;
        grid-column: 1 / span 2; /* Ocupa da coluna 1 até a coluna 2 */
    }
    .bottomRight{
        grid-row: 5;
        grid-column: 1 / span 2; /* Ocupa da coluna 1 até a coluna 2 */
    }
    .titleGrande{
        font-size: 3vh;
        font-weight: 500;
        width: 80%;
        padding: 3%;
    }
    .textValores{
        width: 60%;
    }
    .titleValores{
        font-weight: 500;
        width: 100%;
    }
}